export default `
<label class="label {{styles.label}}">
  {{#if label}}<span class="{{styles.title}}">{{{label}}}</span>{{/if}}
  <input
    type="{{#if type}}{{type}}{{else}}text{{/if}}"
    {{#if value}}value="{{value}}"{{/if}}

    {{#if class}}
      class="input {{styles.input}} {{class}}"
      {{else}}class="input {{styles.input}}"
    {{/if}}

    {{#if placeholder}}placeholder="{{placeholder}}"{{/if}}
    {{#if title}}title="{{title}}"{{/if}}
    name="{{name}}"
    {{disabled}}
    {{#if accept}}accept={{accept}}{{/if}}>
  <span class="{{styles.helpText}}">Недопустимые символы</span>
</label>
`;
