export default `
<label class="label {{styles.label}}">
  {{#if label}}<span class="{{styles.title}}">{{{label}}}</span>{{/if}}
  <input
    type="{{#if type}}{{type}}{{else}}text{{/if}}"

    {{#if value}}value="{{value}}"{{/if}}

    class="input {{styles.input}}{{#if class}} {{class}}{{/if}}{{#if error}} {{styles.error}}{{/if}}"

    {{#if placeholder}}placeholder="{{placeholder}}"{{/if}}

    {{#if title}}title="{{title}}"{{/if}}

    name="{{name}}"

    {{disabled}}

    {{#if accept}}accept={{accept}}{{/if}}>
  <span
    class="{{styles.helpText}}{{#if helperTextClass}} {{helperTextClass}}{{/if}}">
    Недопустимые символы
  </span>
</label>
`;
