export default `
<div class="{{styles.message}} {{class}}">
  <span class="{{styles.message__text}}">{{text}}</span>
  <div class="{{styles.message__status}}">
    <span class="{{styles.message__time}}">{{time}}</span>
    {{#if needStatus}}
      {{> img class="message__check-img" alt="check_all" src="../../../assets/check_all.svg" }}
    {{/if}}
  </div>
</div>`;
