export default `
<button
    {{#if path}}data-path='{{path}}'{{/if}}
    type='{{#if type}}{{type}}{{else}}button{{/if}}'
    {{#if (eq theme "default")}}class='btn {{styles.btn}} {{className}}'
    {{else}}class='btn {{className}}' {{/if}}
    {{#if name}}name='{{name}}'{{/if}}
>
  {{{text}}}
</button>`
;
