export default `
  <div class="chat__sidebar-header">
    <a class="chat__user-link" data-id={{id}} href={{path}}>Имя Фамилия</a>
    {{{button}}}
  </div>
  <form>
    {{{input}}}
  </form>
  {{{chatItems}}}
`
