export default `
<nav class="{{styles.nav}}">
  <ul>
    {{#each links}}
      <li {{this.hidden}} >
        <a href='{{this.path}}{{#if this.query}}?{{this.query}}{{/if}}'>{{this.text}}</a>
      </li>
    {{/each}}
  </ul>
</nav>`
