export default `
<div class="{{styles.container}}">
  <form class="{{styles.form}}">
    <h2 class={{styles.title}}>Регистрация</h2>
    {{{inputs}}}
    {{{button}}}
    {{{link}}}
  </form>
</div>
`;

