export default `
  <a
    {{#if id}}data-id={{id}}{{/if}}
    {{#if className}}class={{className}}{{/if}}
    {{#if path}}href={{path}}{{/if}}
    {{#if value}}value={{value}}{{/if}}
  >
    {{text}}
  </a>
`;
