export default `
<div class="{{styles.chatItem}}">
  <img src='' alt='avatar' class='{{styles.avatar}}' />
  <div class='{{styles.chatInfo}}'>
    <div class='{{styles.userName}}'>{{userName}}</div>
    <div class='{{styles.lastMessage}}'>{{lastMessage}}</div>
  </div>
  <div class='{{styles.messageInfo}}'>
    <div class='{{styles.time}}'>{{time}}</div>
    {{#if unreadCount}}
      <div class='{{styles.unreadCount}}'>{{unreadCount}}</div>{{/if}}
  </div>
</div>`;
