export default `
<aside class="{{styles.chat__sidebar}}">
  <div class="{{styles.chat__sidebar-header}}">
    {{{link}}}
    {{{button}}}
    {{{chatNameInput}}}
  </div>
  <form>
    {{{input}}}
  </form>
  <div>
    {{{chatItems}}}
  </div>
</aside>
`
