export default `
<div class="{{styles.container}}">
  {{{avatarImg}}}
  <form class="{{styles.editAvatar}}">
    {{{imgInput}}}
  </form>
  <form class="{{styles.form}}">
    {{{inputs}}}
    {{{saveBtn}}}
  </form>
  {{{cancelBtn}}}
</div>
`;

