export default `
<div class="{{styles.container}}">
  {{{avatar}}}
  <form class="{{styles.editAvatar}}">
    {{{imgInput}}}
  </form>
  <form class="{{styles.form}} {{styles.form_profile}}">
    {{{inputs}}}
  </form>
  <div class="{{styles.buttons}}">
    {{#if isViewMode}}
      {{{buttons.editBtn}}}
      {{{buttons.editPasswordBtn}}}
      {{{buttons.deleteBtn}}}
    {{else}}
      {{{buttons.saveBtn}}}
      {{{buttons.cancelBtn}}}
    {{/if}}
  </div>
</div>
`;
