export default `
<nav class="nav">
  <ul>
    <li><a href="{{registerPath}}">Регистрация</a></li>
    <li><a href="{{loginPath}}">Вход</a></li>
    <li><a href="{{chatPath}}">Чат</a></li>
    <li><a href="{{selectedChatPath}}">Выбранный чат</a></li>
    <li><a href="{{profilePath}}">Профиль</a></li>
    <li><a href="{{editProfilePath}}">Редактирование профиля</a></li>
    <li><a href="{{editPasswordPath}}">Изменение пароля</a></li>
    <li><a href="{{error404Path}}?type=404">404</a></li>
    <li><a href="{{error500Path}}?type=500">500</a></li>
  </ul>
</nav>`;
