export default `
{{{chatItems}}}
<section class="chat__dialog">
  <div class="chat__header">
    <h3 class="chat_user-title">Артём</h3>
    <span class="chat__edit">...</span>
  </div>
  <div class="chat__messages">
    {{{messages}}}
  </div>
  <form class="chat__form form">
    {{{img}}}
    {{{input}}}
    {{{button}}}
  </form>
</section>
`;
