export default `
<div class="{{styles.activeChat}}">
  {{{chatItems}}}
  <section class="{{{styles.chat__dialog}}}">
    <div class="{{styles.chat__header}}">
      <h3 class="{{styles.chat-title}}">{{title}}</h3>
      <span class="{{styles.chat__edit}}">...</span>
    </div>
    <div class="{{styles.chat__messages}}">
      {{{messages}}}
    </div>
    <form class="{{styles.chat__form}} {{styles.form}}">
      {{{img}}}
      {{{input}}}
      {{{button}}}
    </form>
  </section>
</div>
`;
